
			h2{
				color: #32CD32;
				font-size: 24px;
				font-family: "Times New Roman", sans-serif;
				text-align: justify;
			}

			blockquote{
				color: #000000;
				font-family: "Arial", sans-serif;
				text-align: justify;

			}

			.italico-ngr {
 				font-style: italic;
 				font-style: bold;
			}

			.negrito{
				font-style: bold;
			}
			.italico-negrito {
				font-weight: bold;
				font-style: italic;
			}

			.imgs img{
				display: inline-block;
				margin: 0 auto;
			}

			.imgs {
				text-align: center;
			}

			img{
				border: 4px solid limegreen;
			}

			.id2 img {
				display: block;
				margin: 0 auto;
			}

			li{
				color: #000000;
				font-family: "Arial", sans-serif;
			}
